## 분석데이터 csv 파일로 저장

In [57]:
import pandas as pd

In [58]:
# train_subway21 , train_subway22, train_subway23 동일 진행 

FILE_NAME = './dataset_file/train_subway23'

train_subway23_df = pd.read_csv(FILE_NAME)
train_subway23_df.shape

(5520981, 16)

In [59]:
train_subway23_df.columns

Index(['Unnamed: 0', 'train_subway23.tm', 'train_subway23.line',
       'train_subway23.station_number', 'train_subway23.station_name',
       'train_subway23.direction', 'train_subway23.stn', 'train_subway23.ta',
       'train_subway23.wd', 'train_subway23.ws', 'train_subway23.rn_day',
       'train_subway23.rn_hr1', 'train_subway23.hm', 'train_subway23.si',
       'train_subway23.ta_chi', 'train_subway23.congestion'],
      dtype='object')

In [60]:
train_subway23_df.drop(columns=['Unnamed: 0'], inplace = True)

In [61]:
train_subway23_df.columns

Index(['train_subway23.tm', 'train_subway23.line',
       'train_subway23.station_number', 'train_subway23.station_name',
       'train_subway23.direction', 'train_subway23.stn', 'train_subway23.ta',
       'train_subway23.wd', 'train_subway23.ws', 'train_subway23.rn_day',
       'train_subway23.rn_hr1', 'train_subway23.hm', 'train_subway23.si',
       'train_subway23.ta_chi', 'train_subway23.congestion'],
      dtype='object')

In [62]:
train_subway23_df

,train_subway23.tm,train_subway23.line,train_subway23.station_number,train_subway23.station_name,train_subway23.direction,train_subway23.stn,train_subway23.ta,train_subway23.wd,train_subway23.ws,train_subway23.rn_day,train_subway23.rn_hr1,train_subway23.hm,train_subway23.si,train_subway23.ta_chi,train_subway23.congestion
0,2023010100,1,150,서울역,상선,419,0.3,318.0,3.4,0.0,0.0,66.5,-99.0,0.7,0
1,2023010101,1,150,서울역,상선,419,0.6,293.8,3.4,0.0,0.0,67.5,-99.0,-0.6,0
2,2023010105,1,150,서울역,상선,419,-0.8,29.6,3.7,0.0,0.0,55.1,-99.0,-2.2,3
3,2023010106,1,150,서울역,상선,419,-1.8,48.1,3.4,0.0,0.0,62.8,-99.0,-4.0,6
4,2023010107,1,150,서울역,상선,419,-2.6,21.4,2.9,0.0,0.0,68.8,-99.0,-2.8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5520976,2023123119,8,2828,남위례,하선,572,0.6,0.0,0.0,7.0,0.0,83.1,-99.0,0.0,18
5520977,2023123120,8,2828,남위례,하선,572,0.0,354.7,0.0,7.0,0.0,84.7,-99.0,-0.6,17
5520978,2023123121,8,2828,남위례,하선,572,-0.6,0.0,0.0,7.0,0.0,85.1,-99.0,-1.1,21
5520979,2023123122,8,2828,남위례,하선,572,-0.8,0.0,0.0,7.0,0.0,85.6,-99.0,-1.3,18
5520980,2023123123,8,2828,남위례,하선,572,-1.3,110.7,0.1,7.0,0.0,85.6,-99.0,-1.9,22

In [63]:
train_subway23_df.to_csv('train_subway23.csv', index=False)

데이터 확인

In [55]:
train_subway21_df

,train_subway21.tm,train_subway21.line,train_subway21.station_number,train_subway21.station_name,train_subway21.direction,train_subway21.stn,train_subway21.ta,train_subway21.wd,train_subway21.ws,train_subway21.rn_day,train_subway21.rn_hr1,train_subway21.hm,train_subway21.si,train_subway21.ta_chi,train_subway21.congestion
0,2021010100,1,150,서울역,상선,419,-9.6,291.1,3.3,0.0,0.0,-99.0,-99.0,-12.6,0
1,2021010101,1,150,서울역,상선,419,-9.7,284.6,2.0,0.0,0.0,-99.0,-99.0,-9.8,0
2,2021010105,1,150,서울역,상선,419,-9.3,124.7,2.4,0.0,0.0,-99.0,-99.0,-10.3,1
3,2021010106,1,150,서울역,상선,419,-9.3,126.2,1.7,0.0,0.0,-99.0,-99.0,-10.1,2
4,2021010107,1,150,서울역,상선,419,-9.1,145.7,1.3,0.0,0.0,-99.0,-99.0,-9.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5452138,2021123119,8,2828,남위례,하선,572,-5.1,303.3,1.1,0.0,0.0,24.0,-99.0,-5.5,0
5452139,2021123120,8,2828,남위례,하선,572,-5.6,307.8,0.8,0.0,0.0,26.0,-99.0,-5.9,0
5452140,2021123121,8,2828,남위례,하선,572,-5.8,310.1,1.4,0.0,0.0,27.3,-99.0,-6.4,0
5452141,2021123122,8,2828,남위례,하선,572,-6.3,300.3,1.2,0.0,0.0,27.7,-99.0,-6.8,0
5452142,2021123123,8,2828,남위례,하선,572,-7.1,285.7,0.5,0.0,0.0,30.2,-99.0,-8.0,0

In [48]:
train_subway22_df

,train_subway22.tm,train_subway22.line,train_subway22.station_number,train_subway22.station_name,train_subway22.direction,train_subway22.stn,train_subway22.ta,train_subway22.wd,train_subway22.ws,train_subway22.rn_day,train_subway22.rn_hr1,train_subway22.hm,train_subway22.si,train_subway22.ta_chi,train_subway22.congestion
0,2022010100,1,150,서울역,상선,419,-9.4,61.0,3.5,0.0,0.0,34.0,-99.0,-12.8,0
1,2022010101,1,150,서울역,상선,419,-9.4,39.4,2.0,0.0,0.0,35.8,-99.0,-10.4,0
2,2022010105,1,150,서울역,상선,419,-9.7,350.9,0.9,0.0,0.0,44.5,-99.0,-10.8,2
3,2022010106,1,150,서울역,상선,419,-9.4,139.6,0.5,0.0,0.0,43.4,-99.0,-11.0,5
4,2022010107,1,150,서울역,상선,419,-10.1,173.6,2.7,0.0,0.0,49.2,-99.0,-10.9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5396195,2022123119,8,2828,남위례,하선,572,-1.6,199.0,0.2,0.0,0.0,67.7,-99.0,-2.1,19
5396196,2022123120,8,2828,남위례,하선,572,-2.6,0.0,0.0,0.0,0.0,73.7,-99.0,-3.2,16
5396197,2022123121,8,2828,남위례,하선,572,-2.9,17.0,0.0,0.0,0.0,75.1,-99.0,-3.7,21
5396198,2022123122,8,2828,남위례,하선,572,-3.1,185.3,0.1,0.0,0.0,75.7,-99.0,-3.9,20
5396199,2022123123,8,2828,남위례,하선,572,-2.7,114.5,0.2,0.0,0.0,74.3,-99.0,-3.7,18

In [64]:
train_subway23_df

,train_subway23.tm,train_subway23.line,train_subway23.station_number,train_subway23.station_name,train_subway23.direction,train_subway23.stn,train_subway23.ta,train_subway23.wd,train_subway23.ws,train_subway23.rn_day,train_subway23.rn_hr1,train_subway23.hm,train_subway23.si,train_subway23.ta_chi,train_subway23.congestion
0,2023010100,1,150,서울역,상선,419,0.3,318.0,3.4,0.0,0.0,66.5,-99.0,0.7,0
1,2023010101,1,150,서울역,상선,419,0.6,293.8,3.4,0.0,0.0,67.5,-99.0,-0.6,0
2,2023010105,1,150,서울역,상선,419,-0.8,29.6,3.7,0.0,0.0,55.1,-99.0,-2.2,3
3,2023010106,1,150,서울역,상선,419,-1.8,48.1,3.4,0.0,0.0,62.8,-99.0,-4.0,6
4,2023010107,1,150,서울역,상선,419,-2.6,21.4,2.9,0.0,0.0,68.8,-99.0,-2.8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5520976,2023123119,8,2828,남위례,하선,572,0.6,0.0,0.0,7.0,0.0,83.1,-99.0,0.0,18
5520977,2023123120,8,2828,남위례,하선,572,0.0,354.7,0.0,7.0,0.0,84.7,-99.0,-0.6,17
5520978,2023123121,8,2828,남위례,하선,572,-0.6,0.0,0.0,7.0,0.0,85.1,-99.0,-1.1,21
5520979,2023123122,8,2828,남위례,하선,572,-0.8,0.0,0.0,7.0,0.0,85.6,-99.0,-1.3,18
5520980,2023123123,8,2828,남위례,하선,572,-1.3,110.7,0.1,7.0,0.0,85.6,-99.0,-1.9,22